<div id="main-banner-gallery" class="darken-overlay">
    <div class="darken-overlay">
        <%= render 'shared/navbar' %>
        <div class="main-banner-container">
          <div class="wrapper">
            <h1><span>BHAVANA EXPERIENCES</span></h1>
          </div>
          <section id="section05" class="demo">
            <a href="#section06"><span></span>learn more</a>
          </section>
          </div>
    </div>
</div>
<div class="content-container">
    <div class="inner-content">
      <div class="text-box">
        <i class="fas fa-camera-retro orange icon"></i>
        <h2 class="orange">Gallery</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "taj_nopeople.jpg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Taj Mahal</p>
<!--             <p class="sub_title"></p> -->
            <p class="description">Description</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "ceremonynight.jpg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Wagah Border Ceremony</p>
<!--             <p class="sub_title"></p> -->
            <p class="description">Description</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "earcleaner.jpg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Get your ears cleaned</p>
<!--             <p class="sub_title"></p> -->
            <p class="description">Description</p>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "bathinginriver.jpg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Bath in the Ganges</p>
<!--             <p class="sub_title"></p> -->
            <p class="description">Description</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "park.jpg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Chillout in the park</p>
<!--             <p class="sub_title"></p> -->
            <p class="description">Description</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "delhi.jpg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Visit Delhi</p>
<!--             <p class="sub_title"></p> -->
            <p class="description">Description</p>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "river2.jpg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Ceremonies on the Ganges</p>
<!--             <p class="sub_title"></p> -->
            <p class="description">Description</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "olddelhi.jpg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Visit Old Delhi</p>
<!--             <p class="sub_title"></p> -->
            <p class="description">Description</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "weloverish.jpg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Visit Rishakesh</p>
<!--             <p class="sub_title"></p> -->
            <p class="description">Description</p>
          </div>
        </div>
      </div>
  </div>
</div>
