<div id="main-banner-gallery" class="darken-overlay">
    <div class="darken-overlay">
        <%= render 'shared/navbar' %>
        <div class="main-banner-container">
          <div class="wrapper">
            <h1><span>BHAVANA EXPERIENCES</span></h1>
          </div>
          <section id="section05" class="demo">
            <a href="#section06"><span></span>learn more</a>
          </section>
          </div>
    </div>
</div>
<div class="content-container">
    <div class="inner-content">
      <div class="text-box">
        <i class="fas fa-camera-retro orange icon"></i>
        <h2 class="orange">Gallery</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "rafting.jpeg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Camping On River Ganges</p>
            <p class="sub_title"></p>
            <p class="description">Description</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "ceremony.jpeg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Wagah Border Ceremony</p>
            <p class="sub_title"></p>
            <p class="description">Description</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "firework.jpeg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">The Golden Temple</p>
            <p class="sub_title"></p>
            <p class="description">Description</p>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "gate.jpeg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">India Gate</p>
            <p class="sub_title"></p>
            <p class="description">Description</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "party.jpeg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Aarti</p>
            <p class="sub_title"></p>
            <p class="description">Description</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "rafting.jpeg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Rafting</p>
            <p class="sub_title"></p>
            <p class="description">Description</p>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "shop.jpeg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Shop til' you drop</p>
            <p class="sub_title"></p>
            <p class="description">Description</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "sunrise.jpeg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Sunrise</p>
            <p class="sub_title"></p>
            <p class="description">Description</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail" >
            <div class="date">

            </div><%= image_tag ( "sunset.jpeg") %>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <p class="title">Sunset</p>
            <p class="sub_title"></p>
            <p class="description">Description</p>
          </div>
        </div>
      </div>
  </div>
</div>
