<div class="container">
  <div id="main-banner" class="darken-overlay">
      <div class="darken-overlay">
          <%= render 'shared/navbar' %>
          <div class="main-banner-container">
            <div class="wrapper">
              <h1><span>BHAVANA EXPERIENCES</span></h1>
            </div>
            <section id="section05" class="demo">
              <a href="#section06"><span></span>learn more</a>
            </section>
            </div>
      </div>
  </div>

  <div class="content-container">
    <div class="inner-content">
      <h2>Gallery</h2>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Post-->
            <div class="post-module">
              <!-- Thumbnail-->
              <div class="thumbnail" >
                <div class="date">

                </div><%= image_tag ( "sunset.jpeg") %>
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <h1 class="title">Sunset</h1>
                <h2 class="sub_title"></h2>
                <p class="description">Description</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Post-->
            <div class="post-module">
              <!-- Thumbnail-->
              <div class="thumbnail" >
                <div class="date">

                </div><%= image_tag ( "sunrise.jpeg") %>
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <h1 class="title">Sunrise</h1>
                <h2 class="sub_title"></h2>
                <p class="description">Description</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Post-->
            <div class="post-module">
              <!-- Thumbnail-->
              <div class="thumbnail" >
                <div class="date">

                </div><%= image_tag ( "camping.jpeg") %>
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <h1 class="title">Camping</h1>
                <h2 class="sub_title"></h2>
                <p class="description">Description</p>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Post-->
            <div class="post-module">
              <!-- Thumbnail-->
              <div class="thumbnail" >
                <div class="date">

                </div><%= image_tag ( "sunset.jpeg") %>
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <h1 class="title">Sunset</h1>
                <h2 class="sub_title"></h2>
                <p class="description">Description</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Post-->
            <div class="post-module">
              <!-- Thumbnail-->
              <div class="thumbnail" >
                <div class="date">

                </div><%= image_tag ( "sunrise.jpeg") %>
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <h1 class="title">Sunrise</h1>
                <h2 class="sub_title"></h2>
                <p class="description">Description</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Post-->
            <div class="post-module">
              <!-- Thumbnail-->
              <div class="thumbnail" >
                <div class="date">

                </div><%= image_tag ( "camping.jpeg") %>
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <h1 class="title">Camping</h1>
                <h2 class="sub_title"></h2>
                <p class="description">Description</p>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Post-->
            <div class="post-module">
              <!-- Thumbnail-->
              <div class="thumbnail" >
                <div class="date">

                </div><%= image_tag ( "sunset.jpeg") %>
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <h1 class="title">Sunset</h1>
                <h2 class="sub_title"></h2>
                <p class="description">Description</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Post-->
            <div class="post-module">
              <!-- Thumbnail-->
              <div class="thumbnail" >
                <div class="date">

                </div><%= image_tag ( "sunrise.jpeg") %>
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <h1 class="title">Sunrise</h1>
                <h2 class="sub_title"></h2>
                <p class="description">Description</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- Post-->
            <div class="post-module">
              <!-- Thumbnail-->
              <div class="thumbnail" >
                <div class="date">

                </div><%= image_tag ( "camping.jpeg") %>
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <h1 class="title">Camping</h1>
                <h2 class="sub_title"></h2>
                <p class="description">Description</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
